.calc {
    padding: 2em;
    font-size: 1.2em;
    /* background-image: url(https://2017.europe.wordcamp.org/files/2017/01/background-pattern-01.png); */
    /* background-color: rgba(88, 16, 79, 0.678); */
}

.result {
    /* border: 2px solid #c96; */
    margin: 1em;
    
}