html {
    font-family: sans-serif;
    font-size: 18px;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;

}

body {
    margin: 0 auto;
    min-height: 100%;
    min-width: 100%;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#page {
    font-size: 20px;
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #8C8C8C 45%, #FFF7F9 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #8C8C8C 45%, #FFF7F9 100%);
    background: linear-gradient(to bottom, #000000 0%, #8C8C8C 45%, #FFF7F9 100%);
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

main {
    border: 2px solid rgba(117, 44, 160, 0.5);
    background-color: rgba(117, 44, 160, 0.3);
    border-radius: 10px;
}

#page {
    display: grid;
    width: 100vw;
    height: 100vh;
    /* padding: 0 2em; */
}
/* Title */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    padding: 1em;
    background-image: url(https://blog.spoongraphics.co.uk/wp-content/uploads/2014/01/15.jpg);
    background-repeat: repeat-x;

}

main {
    text-align: center;
    font-size: 1.2em;
}

nav {
    text-align: center;
    margin: 1em;
}

aside {
    border: 2px solid rgba(117, 44, 160, 0.5);
    border-radius: 10px;
    background-image: url(https://i.imgur.com/zcSqTAi.jpg);
    
}

nav > a {
    border: 1px solid rgb(204, 102, 196);
    border-radius: 10px;
    background-color:rgba(207, 101, 198, 0.726);
    color: black;
    }

.routes {
    margin: 1em;
}

.a {
    border: 1px solid rgb(180, 66, 171);
    margin: 5px 5px;
    font-size: 1em;
    padding: 0.5em;
}
footer {
    text-align: center;
    background-image: url(https://blog.spoongraphics.co.uk/wp-content/uploads/2014/01/15.jpg);
    padding: 1em;
    border-radius: 10px;
}

/* Grid areas */
header {
    grid-area: head;
}

.aside {
     grid-area: aside;
}

main {
     grid-area: cont;
}

nav {
    grid-area: nav;
}

footer {
     grid-area: footer;
}


/* Media */
@supports (display: grid) {
    @media screen and (min-width: 800px) {
    
        #page {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 50px 5fr 100px;
            grid-gap: 0.5em;
            grid-template-areas: 
            "head head head head head"
            "nav nav nav nav nav"
            "cont cont cont cont aside"
            "footer footer footer footer footer";
        }         
    }

/* Smartphone L */
    @media only screen and (min-width : 320px) and (max-width : 800px) {
    
        #page {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.5fr 3fr 3fr 1fr;
            column-gap: 0.5em;
            row-gap: .5em;
            grid-template-areas: 
            "head"
            "nav"
            "cont"
            "aside"
            "footer";
        }
    }
}