<section id="page">
    <header>
      <h1>Angular 2</h1>
    </header>

    <aside>
    </aside>
    <nav>  
      <a class="a" routerLink="/idcard">People <i class="fas fa-list-ul"></i></a>
      <a class="a" routerLink="/BMI">BMI <i class="fas fa-hand-holding-heart"></i></a>
      <a class="a" routerLink="/expressions">Calculator <i class="fas fa-calculator"></i></a>
    </nav>  
    
    <main>
        <router-outlet></router-outlet>
    </main>
    
    <footer>lewillas@gmail.com | EduSite </footer>
  </section>