html {
    font-size: 18px;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;

}

* {
    font-family: 'Space Mono', monospace;
}

body {
    margin: 0 auto;
    /* min-height: 100%;
    min-width: 100%; */
    opacity: 0.6; 
}
h1 {
    color: #ffffff;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#page {
    font-size: 20px;
    background:   #ffffff;
    /* background: #000000; */
    /* background: -moz-linear-gradient(top, #000000 0%, #8C8C8C 45%, #FFF7F9 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #8C8C8C 45%, #FFF7F9 100%);
    background: linear-gradient(to bottom, #000000 0%, #8C8C8C 45%, #FFF7F9 100%); */
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

main, footer {
    border: 2px solid rgba(117, 44, 160, 0.5);
    border-radius: 10px;
}

#page {
    display: grid;
    /* ??? */
    height: 100vh;
}
/* Title */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    padding: 1em;
    /* background-color: rgba(117, 44, 160, 0.3); */
    background-color: rgba(117, 44, 160, 0.7);

    border-radius: 0 0 10px 10px;

    /* background-repeat: repeat-x; */

}

main {
    text-align: center;
    font-size: 1.2em; 
    background-color: rgba(117, 44, 160, 0.3);
}

nav {
    text-align: center;
    font-size: 1em;
    padding: 0.2em;
    background-color: rgba(255,146,13, 0.5);
    border: 2px solid #ff920d;
    border-radius: 10px;

}

nav > a {
    border: 1px solid #ff920d;
    border-radius: 5px;
    /* background-color: #ff920d; */
    color: black;
    text-decoration: none;
    font-size: 0.8em;
    padding: 0.3em; 
    margin: 5px 5px;

}

nav > a > i {
        font-family:  "Font Awesome 5 Free";
}
.routes {
    margin: 1em;
}

aside {
    border: 2px solid rgba(117, 44, 160, 0.5);
    border-radius: 10px;
    background-image: url(https://i.imgur.com/zcSqTAi.jpg);
    
}

footer {
    text-align: center;
    padding: 1em;
}


/* Grid areas */
header {
    grid-area: head;
}

aside {
     grid-area: aside;
}

main {
     grid-area: cont;
}

nav {
    grid-area: nav;
}

footer {
     grid-area: footer;
}


/* Media */
@supports (display: grid) {
    @media screen and (min-width: 800px) and (max-width: 1280px) {
    
        #page {
            margin: 0 15% 0 15%;
        }

        #page {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 50px 5fr 100px;
            grid-gap: 0.5em;
            grid-template-areas: 
            "head head head head head"
            "nav nav nav nav nav"
            "cont cont cont cont aside"
            "footer footer footer footer footer";
        }         
    }

/*  */
    @media screen and (min-width: 1290px) {
    
        #page {
            margin: 0 10% 0 10%;
        }

        nav {
            display: flex;
            flex-flow: column;
        }

        #page {
            grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 3fr 120px;
            grid-gap: 0.5em;
            grid-template-areas: 
            "head head head head head"
            "nav cont cont cont aside"
            "nav cont cont cont aside"
            "footer footer footer footer footer";
        }         
}

/* Smartphone */
    @media only screen and (min-width : 300px) and (max-width : 800px) {
   
        nav > a {
            margin: 5px;
            font-size: 0.7em;        }
        #page {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.4fr 3fr 2fr 1fr;
            column-gap: 0.5em;
            row-gap: .5em;
            grid-template-areas: 
            "head"
            "nav"
            "cont"
            "aside"
            "footer";
        }
    }
}