form {
/* background-image: url(https://2017.europe.wordcamp.org/files/2017/01/background-pattern-01.png); */
font-size: 1.2em;
}

button {
    border: 1px solid rgb(89, 78, 99);
    border-radius: 20%;
    margin: 5px;  
    width: 2em;
    height: 2em;
    cursor: pointer;
}

#clear {
    height: 20px;
    width: auto;
    text-align: center;
    cursor: pointer;
}