ul {
    list-style-type: none;
    font-size: 1.1em;
}

button {
    margin: 5px 5px;
    padding: 0.5em;
    border: 1px solid rgb(204, 102, 196);
    border-radius: 10px;
    background-color: #ff920d;
    color: black;
    text-decoration: none;
    font-size: 0.8em;

}